<div class="card p-5 mt-5" style= "background-color: #05ffb030;">
    
    <h3 class="card-title text-white">Bio</h3>
    
    <div class="card-body">

        <div class= "row">
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Data nascimento/início</h5>
                        <p class="card-text"><%= @element["birth"] %></p>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Data morte/fim</h5>
                        <p class="card-text"><%= @element["die"] %></p>
                        
                    </div>
                    
                </div>
                
            </div>

            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Nacionalidade</h5>
                        <p class="card-text"><%= @element["nacionality"] %></p>
                        
                    </div>
                    
                </div>
                
            </div>

        </div>

         <div class= "row mt-5">
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Prêmios</h5>

                        <% if @element["premium"]%>

                            <ul>
                                <% @element["premium"].each do |element| %>
                                    <li><%=element%></li>
                                <% end %>
                            </ul>

                        <% end %>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Feitos</h5>
                        <%if @element["facts"]%>

                            <ul>
                                <% @element["facts"].each do |element| %>
                                
                                    <li><%=element%></li>

                                <% end %>

                            </ul>

                        <% end %>
                        
                    </div>
                    
                </div>
                
            </div>

            <div class="col-lg-4 col-sm-12 ">

                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Elementos descobertos</h5>

                        <%if @element["elements"]%>

                            <ul>
                                <% @element["elements"].each do |element| %>

                                    <li><%=element%></li>

                                <% end %>

                            </ul>

                        <% end %>
                        
                    </div>
                    
                </div>
                
            </div>

        </div>

    </div>
    
</div>