<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h4 class="text-white"><%= @element["name"] %></h4>
      <%= link_to "Voltar", home_index_path, {class:"text-muted"} %>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="py-5 text-center" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
  
    <img src="<%= @element["image"] %>" class="rounded-circle" alt="Cinque Terre" style="height: 200px; width: 200px">
    
    <h2 class="mt-3" ><%= @element["name"] %></h2>
    
    <h5 class="mt5"><%= @element["description"] %></h5>

</div>