<!DOCTYPE html>
<html>
  <head>
    <title>TabelaPeriodica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'animated_background', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'collapse', 'data-turbolinks-track': 'reload' %>
  </head>
  <body onpageshow="myFunction()">
    <div id="particles">
      <div id="webcoderskull">
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
