<div class= "row">
    <div class ="col-lg-4 col-sm-12 p-2">
        <div class="card shadow-lg">
            <img class="card-img-top" src="https://www.grupoescolar.com/galeria/fotos/F07AB72CA.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Densidade</h5>
              <p class="card-text"><%= @properties[:density] %></p>
              <a href="<%=@properties[:quote]%>" class="card-text"><small class="text-muted">Fonte:<%=@properties[:quote]%> </small></a>
            </div>
        </div>
    </div>
    
    <div class ="col-lg-4 col-sm-12 p-2">
        <div class="card shadow-lg">
            <img class="card-img-top" src="https://mundoeducacao.bol.uol.com.br/upload/conteudo_legenda/38fdc6bcb1c0f2d16fd8983e35487c4a.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ponto ebulição</h5>
              <p class="card-text"><%= @properties[:boil] %> K</p>
              <a href="<%=@properties[:quote]%>" class="card-text"><small class="text-muted">Fonte:<%=@properties[:quote]%> </small></a>
            </div>
        </div>
    </div>
    
    <div class ="col-lg-4 col-sm-12 p-2">
        <div class="card shadow-lg">
            <img class="card-img-top" src="https://www.resumoescolar.com.br/wp-content/imagens/massa-atomica-e-molecular.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Massa Atômica</h5>
              <p class="card-text"><%=@properties[:atomic_mass]%></p>
              <a href="<%=@properties[:quote]%>" class="card-text"><small class="text-muted">Fonte:<%=@properties[:quote]%> </small></a>
            </div>
        </div>
    </div>
</div>

<div class= "row mt-5">
    <div class ="col-lg-4 col-sm-12 p-2">
        <div class="card shadow-lg">
            <img class="card-img-top" src="https://static.todamateria.com.br/upload/ge/lo/gelofusao.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Ponto de fusão</h5>
              <p class="card-text"><%=@properties[:melt]%> K</p>
              <a href="<%=@properties[:quote]%>" class="card-text"><small class="text-muted">Fonte:<%=@properties[:quote]%> </small></a>
            </div>
        </div>
    </div>

    <div class ="col-lg-4 col-sm-12 p-2">
        <div class="card shadow-lg">
            <img class="card-img-top" src="https://abrilguiadoestudante.files.wordpress.com/2016/08/screenshot_66.png?w=337&h=343" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Calor molar</h5>
              <p class="card-text"><%=@properties[:molar_helt]%></p>
              <a href="<%=@properties[:quote]%>" class="card-text"><small class="text-muted">Fonte:<%=@properties[:quote]%> </small></a>
            </div>
        </div>
    </div>
    
    <div class ="col-lg-4 col-sm-12 p-2">
        <div class="card shadow-lg">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Electron_orbitals.svg/500px-Electron_orbitals.svg.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Configuração eletrônica</h5>
              <p class="card-text"><%=@properties[:electron_configuration]%></p>
              <a href="<%=@properties[:quote]%>" class="card-text"><small class="text-muted">Fonte:<%=@properties[:quote]%> </small></a>
            </div>
        </div>
    </div>
</div>

<div class= "row mt-5">
    <div class ="col-lg-4 col-sm-12 p-2">
        <div class="card shadow-lg">
            <img class="card-img-top" src="https://s1.static.brasilescola.uol.com.br/artigos/ao-receber-um-eletron-atomo-libera-uma-quantidade-energia-determinada-pela-eletroafinidade-1319203371.jpg?i=https://brasilescola.uol.com.br/upload/conteudo/images/ao-receber-um-eletron-atomo-libera-uma-quantidade-energia-determinada-pela-eletroafinidade-1319203371.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Afinidade eletronica</h5>
              <p class="card-text"><%=@properties[:electron_affinity]%></p>
              <a href="<%=@properties[:quote]%>" class="card-text"><small class="text-muted">Fonte:<%=@properties[:quote]%> </small></a>
            </div>
        </div>
    </div>

    <div class ="col-lg-4 col-sm-12 p-2">
        <div class="card shadow-lg">
            <img class="card-img-top" src="https://mundoeducacao.bol.uol.com.br/upload/conteudo/eletronegatividade.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Eletronegatividade de Pauling</h5>
              <p class="card-text"><%=@properties[:electronegativity_pauling]%></p>
              <a href="<%=@properties[:quote]%>" class="card-text"><small class="text-muted">Fonte:<%=@properties[:quote]%> </small></a>
            </div>
        </div>
    </div>
</div>